html, body {
    height: 100%;
}

.container {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    text-align: center;
    width: 20vw;
}

ul {
    list-style: none;
}
