body {
    height: 100%;
    margin-right: 0 !important;
    padding-right: 0 !important;
}
#main-container {
    height: 100vh;
    width: 20vw;
}
#background {
    background-image: url("movie-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 48vw;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

#title {
    width: 50vw;
}


form {
    width: 50vw;
}

#movie-display {
    width: 50vw;
}

#movie-title {
    width: 10vw;
}

ul, li {
    width: 43vw;
}
.container {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    text-align: center;
    width: 20vw;
}

ul {
    list-style: none;
}

/*!*Loading Animation*!*/
/*@-webkit-keyframes opacity {*/
/*    0% { opacity: 1; }*/
/*    100% { opacity: 0; }*/
/*}*/
/*@-moz-keyframes opacity {*/
/*    0% { opacity: 1; }*/
/*    100% { opacity: 0; }*/
/*}*/

/*#loading {*/
/*    text-align: center;*/
/*    margin: 100px 0 0 0;*/
/*}*/

/*#loading span {*/
/*    -webkit-animation-name: opacity;*/
/*    -webkit-animation-duration: 1s;*/
/*    -webkit-animation-iteration-count: infinite;*/

/*    -moz-animation-name: opacity;*/
/*    -moz-animation-duration: 1s;*/
/*    -moz-animation-iteration-count: infinite;*/
/*}*/

/*#loading span:nth-child(2) {*/
/*    -webkit-animation-delay: 100ms;*/
/*    -moz-animation-delay: 100ms;*/
/*}*/

/*#loading span:nth-child(3) {*/
/*    -webkit-animation-delay: 300ms;*/
/*    -moz-animation-delay: 300ms;*/
/*}*/
/* ===== ==== */